<a href="https://colab.research.google.com/github/Hitesh123mori/DataPreprocessing---MachineLearning/blob/main/Data_with_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("DatasetHouse.csv")

# hn =  [here you can write column names if file haven't any column names]

# df   = pd.read_csv("file name" , names = hn)

In [ ]:
df.head(5)

  Name  Id       City House Number Firesafty  SalePrice(in cr)
0    A  12     Mumbai          D12      Good               1.0
1    B  23     Mumbai          A34      Best               NaN
2    C  45      Nasik          NaN      Good               2.0
3    D  67  Ahmedabad          NaN      Best               NaN
4    E  89     Mumbai          C90       NaN               4.0

In [ ]:
df.tail(5)

   Name   Id    City House Number Firesafty  SalePrice(in cr)
21    V   98  Mumbai          NaN      Good              12.0
22    W  898  Mumbai          D12      Good               3.0
23    X  456     NaN          NaN       NaN               NaN
24    Y  853     NaN          D12       NaN               NaN
25    Z  981   Delhi          A87       NaN               4.0

In [ ]:
df.shape

(26, 6)

In [ ]:
df.dtypes

Name                 object
Id                    int64
City                 object
House Number         object
Firesafty            object
SalePrice(in cr)    float64
dtype: object

In [ ]:
print(df.describe())  # here only ID  and saleprice have numeric values

               Id  SalePrice(in cr)
count   26.000000         17.000000
mean   330.923077          3.529412
std    346.162034          3.261856
min      9.000000          1.000000
25%     65.500000          1.000000
50%    104.500000          2.000000
75%    561.000000          4.000000
max    987.000000         12.000000

In [ ]:
count_class = df.groupby('City').size()

print(count_class)


# or


# df['City'].value_counts()

City
Ahmedabad    4
Delhi        3
Mumbai       8
Nasik        4
dtype: int64

In [ ]:
correlations = df.corr(method='pearson')

print(correlations)

# herre only two column having numerical values

                       Id  SalePrice(in cr)
Id                1.00000           0.33858
SalePrice(in cr)  0.33858           1.00000

<ipython-input-55-908a03079b41>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations = df.corr(method='pearson')

In [ ]:
df.skew()

<ipython-input-56-9e0b1e29546f>:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.skew()

Id                  0.837039
SalePrice(in cr)    1.543209
dtype: float64

In [ ]:
df.isnull()

     Name     Id   City  House Number  Firesafty  SalePrice(in cr)
0   False  False  False         False      False             False
1   False  False  False         False      False              True
2   False  False  False          True      False             False
3   False  False  False          True      False              True
4   False  False  False         False       True             False
5   False  False   True         False      False             False
6   False  False  False          True       True              True
7   False  False  False         False      False             False
8   False  False  False         False       True             False
9   False  False   True         False      False             False
10  False  False  False         False      False             False
11  False  False   True          True       True             False
12  False  False  False         False      False             False
13  False  False  False         False      False             False
14  False  False   True          True       True              True
15  False  False  False         False      False             False
16  False  False  False         False       True              True
17  False  False   True         False      False             False
18  False  False  False         False      False             False
19  False  False  False         False      False              True
20  False  False  False         False       True              True
21  False  False  False          True      False             False
22  False  False  False         False      False             False
23  False  False   True          True       True              True
24  False  False   True         False       True              True
25  False  False  False         False       True             False

In [ ]:
df.isnull().mean()  * 100

Name                 0.000000
Id                   0.000000
City                26.923077
House Number        26.923077
Firesafty           38.461538
SalePrice(in cr)    34.615385
dtype: float64

In [ ]:
df.isnull().value_counts()

Name   Id     City   House Number  Firesafty  SalePrice(in cr)
False  False  False  False         False      False               8
                                   True       False               3
              True   False         False      False               3
              False  False         False      True                2
                                   True       True                2
                     True          False      False               2
              True   True          True       True                2
              False  True          False      True                1
                                   True       True                1
              True   False         True       True                1
                     True          True       False               1
dtype: int64

In [ ]:
df['Id'].median()

104.5